<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.devwareProject.mapper.jiwoong.FileMapper">
<sql id="FileColumns">
			 file_seq.nextval
			,brd_type
			,brd_num
			,file_original_name
			,file_save_name
			,file_size
			,file_deleteyn
			,insert_date
			,delete_date
</sql>

<!-- 첨부파일 추가 -->
<insert id="insertFile" parameterType="list">
	Insert into brd_file(
		<include refid="FileColumns"></include>
	) VALUES
	<foreach collection="list" item="item" separator=",">
	(
			#{item.file_num}
		   ,#{item.brd_type}
		   ,#{item.brd_num}
		   ,#{item.file_original_name}
		   ,#{item.file_save_name}
		   ,#{item.file_size}
		   ,'N'
		   ,NOW()
		   ,NULL
	)
	</foreach>
</insert>





</mapper>